.col-md-6.ta {text-align:center;}
.bgcol{background-color:#518fce;}
.bgw{background-color:white;
    padding:10px 20px;
}
.tb{font-weight:bold;}
.mt{margin-top:20px;
    border-radius:20px;
    margin-bottom:20px;
}